<div class="body">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
        <h4 class="mt-5 text-center">Create a New User</h4>

        <div class="row mt-4">
          <!-- Sign Up Form -->
          <div class="col-md-7">
            <%= form_with url: users_path, method: :post do |f| %>
              <div class="mb-2">
                <%= f.label :username, "Username:", class: "form-label" %>
                <%= f.text_field :username, class: "form-control" %>
              </div>
              <div class="mb-2">
                <%= f.label :email, "Email:", class: "form-label" %>
                <%= f.text_field :email, class: "form-control" %>
              </div>
              <div class="mb-2">
                <%= f.label :phone_number, "Phone Number", class: "form-label" %>
                <%= f.text_field :phone_number, class: "form-control" %>
              </div>
              <div class="mb-3">
                <%= f.check_box :text_preference, as: :boolean, checked_value: 'true', unchecked_value: 'false' %>
                <%= f.label :text_preferences, "Yes, you can text me reminders", class: "form-label" %>
              </div>
              <div class="mb-2">
                <%= f.label :password, "Password:", class: "form-label" %>
                <%= f.password_field :password, class: "form-control" %>
              </div>
              <div class="mb-3">
                <%= f.label :password_confirmation, "Password Confirmation:", class: "form-label" %>
                <%= f.password_field :password_confirmation, class: "form-control" %>
              </div>
              <div class="d-grid">
                <%= f.submit "Create User", class: "btn custom-btn1" %>
              </div>
            <% end %>
          </div>

          <!-- GitHub Sign Up -->
          <div class="col-md-5 mb-4">
            <div class="d-flex flex-column justify-content-center h-100">
              <%= link_to "Sign up with Github", "https://github.com/login/oauth/authorize?client_id=#{Rails.application.credentials.github[:client_id]}&scope=repo", data: { turbo: false }, class: "btn custom-btn1 btn-lg" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
