<h1><%= @topic %></h1>

<p>Topic: <%= @lesson.topic %></p>
<p>Lesson: <%= @lesson.lesson %></p>
<p>Link: <%= link_to "More Info", @lesson.link, target: '_blank' %></p>

<% if session[:user_id].present? %>
  <div class="openai-responder">
    <div class="openai-button">
      <%= turbo_frame_tag "tell-me-more-button" do %>
        <%= button_to "Tell Me More", openai_path, params: {lesson: @lesson.topic, topic: @topic}, method: :post,
          data: { turbo_frame: "openai-response" } %>
      <% end %>
    </div>

    <div class="openai-container">
      <%= turbo_frame_tag "openai-response" do %>
      <% end %>
    </div>
  </div>
<% end %>
