<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-11 col-lg-10 col-xl-10">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title mb-4"><%= @topic %></h2>

          <div class="mb-4">
            <h5 class="text-muted">Topic</h5>
            <p class="lead"><%= @lesson.topic %></p>
          </div>

          <div class="mb-4">
            <h5 class="text-muted">Lesson Content</h5>
            <p><%= @lesson.lesson %></p>
            <%= @formatted_lesson.html_safe %>
          </div>

          <div class="mb-4">
            <h5 class="text-muted">Additional Resources</h5>
            <%= link_to "Learn More", @lesson.link, target: '_blank', class: "btn custom-btn1" %>
          </div>

          <% if session[:user_id].present? %>
            <div class="mt-5">
              <h5 class="text-muted mb-3">Need more information?</h5>
              <%= turbo_frame_tag "tell-me-more-button" do %>
                <%= button_to "Tell Me More", openai_path, params: {lesson: @lesson.topic, topic: @topic}, method: :post,
                  data: { turbo_frame: "openai-response" }, class: "btn custom-btn2" %>
              <% end %>

              <div class="mt-4">
                <%= turbo_frame_tag "openai-response" do %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
