<% if current_user %>
  <p>Logged in as: <%= current_user %></p>
  <%= button_to "Log out", user_logout_path([:user_id]), method: :delete %>
<% else %>
  <%= link_to "Login with Github",
  "https://github.com/login/oauth/authorize?client_id=#{Rails.application.credentials.github[:client_id]}&scope=repo", data: { turbo: false } %>
<% end %>

      <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
          <%= link_to "Sign Up", new_user_path, class: "btn custom-btn1 btn-lg btn-block" %>
        </div>
        <div class="col-md-4 mb-3">
          <%= link_to "Log In", login_form_path, class: "btn custom-btn2 btn-lg btn-block" %>
        </div>
        <p class="lead mb-5">sign up or login to gain access to ai powered insights</p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-md-4 text-center mb-4">
      <h3>Ruby</h3>
      <p>Master the elegant syntax of Ruby</p>
      <%= link_to "Start Learning Ruby", ruby_lessons_path, class: "btn custom-btn1" %>
    </div>
    <div class="col-md-4 text-center mb-4">
      <h3>JavaScript</h3>
      <p>Dive into the world of interactive web development</p>
      <%= link_to "Explore JavaScript", javascript_lessons_path, class: "btn custom-btn1" %>
    </div>
    <div class="col-md-4 text-center mb-4">
      <h3>Interview Questions</h3>
      <p>Prepare for your next coding interview</p>
      <%= link_to "Practice Questions", interview_lessons_path, class: "btn custom-btn1" %>
    </div>
  </div>
</div>
