<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
      <h2 class="mb-4"><%= params[:type].capitalize %> Lessons</h2>

      <div class="row">
        <% @lessons.each do |lesson| %>
          <div class="col-md-6 mb-4">
            <div class="card custom-shadow2">
              <div class="card-body d-flex">
                <div class="icon-container mr-3 ">
                  <% if params[:type] == "javascript" %>
                    <i class="fa-brands fa-js fa-3x" style="color: #ee6826;"></i>
                  <% else %>
                    <i class="fa-solid fa-book fa-3x" style="color: #6c757d;"></i>
                  <% end %>
                </div>
                <div class="ms-3">
                  <h5 class="card-title">
                    <%= link_to lesson_path(type: @lesson_type, id: lesson.id), class: "link-hide stretched-link" do %>
                      Lesson: <%= lesson.topic %>
                    <% end %>
                  </h5>
                  <p class="card-text">
                    <% if params[:type] == "javascript" %>
                      <span> Learn <%= lesson.topic %> in JavaScript</span>
                    <% else %>
                      <%= lesson.title %>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>